button {
    padding: .5em;
    background-color: azure;
    border: 2px solid rgb(226, 214, 214);
    margin-right: .5em;
    border-radius: 5px;
}

button:hover {
    border: 2px solid black;
    background-color: rgb(144, 240, 240);
}

button:focus {
    background-color: rgb(174, 174, 199);
}

button:active {
    background-color: white;
    border: 2px solid black;
}