.courseCard {
    display: flex;
    margin: 1em;
    padding: 1em;
    border: 1px solid green;
    border-radius: 10px;
    background-color: lightblue;
}

.left {
    flex-basis: 70%;
    margin-right: 1em;
}

.subtitle {
    font-weight: bold;
}