<div class="courseCard">
    <div class="left">
        <h1>{{ courseItem.title }}</h1>
        <div class="description">{{ courseItem.description }}</div>
    </div>
    <div class="right">
        <p class="authors"><span class="subtitle">Authors:</span> {{ courseItem.authors.join(", ") }}</p>
        <p class="duration"><span class="subtitle">Duration:</span> {{ transformTime(courseItem.duration) }}</p>
        <p class="creationDate"><span class="subtitle">Created:</span> {{ courseItem.creationDate | date : "dd.MM.YYYY" }}</p>
        <ng-content></ng-content>
    </div>
</div>
