<app-course-card *ngFor="let course of courses" [courseItem]="course">
    <app-button>{{btnText}}</app-button>
    <app-button *ngIf="isEditable">
        <fa-icon [icon]="faEdit"></fa-icon>
    </app-button>
    <app-button *ngIf="isEditable">
        <fa-icon [icon]="faTrash"></fa-icon>
    </app-button>
</app-course-card>
