<app-info 
    [title]="titleText" 
    [text]="infoText" 
    *ngIf="!courseList || courseList === undefined || courseList.length === 0">
    <app-button [buttonText]="btnText"></app-button>
</app-info>
<app-course-list [courses]="courseList" 
    [isEditable]="editable">
</app-course-list>